/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    height: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    color: white !important;
}

.mat-button {
    line-height: 55px !important;
}

.mat-form-field {
    width: 100%;
}

.mat-card-actions {
    margin-left: 0 !important;
}

.mat-card-header-text {
    margin: 0 !important;
}

.content {
        min-height: 90vh;
        height: initial;
}

.jumbotron {
    margin-bottom: 0 !important;
    height: 100%;
}

.boat-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}