<!-- nav bar -->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="">4870</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" *ngIf="!currentUser">
          <ul class="navbar-nav flex-grow-1" routerLinkActive="active">
              <li class="nav-item"><a mat-button class="nav-link text-white" routerLink="login">Login</a></li>
              <li class="nav-item"><a mat-button class="nav-link text-white" routerLink="register">Register</a></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" *ngIf="currentUser">
            <ul class="navbar-nav flex-grow-1" routerLinkActive="active">
                <li class="nav-item"><a mat-button class="nav-link text-white" routerLink="/">Home</a></li>
                <li class="nav-item"><a mat-button class="nav-link text-white" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron content">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
